<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    
    <!-- Define where the logs should go (Appenders) -->
    <Appenders>
        <!-- 1. Console Appender -->
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{1} - %msg%n}{INFO=yellow, DEBUG=green, WARN=magenta, ERROR=red}"/>
        </Console>
        
        <!-- 2. File Appender>
        <File name="FileAppender" fileName="logs/sender-plugin.log" append="true">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </File -->
    </Appenders>
    
    <!-- Enable the appenders globally -->
    <Loggers>
        <!-- Root logger captures everything from DEBUG level and higher -->
        <Root level="DEBUG">
            <AppenderRef ref="ConsoleAppender"/>
            <!-- AppenderRef ref="FileAppender"/ -->
        </Root>
    </Loggers>
    
</Configuration>